.välkommen{
    color:black;
    text-align:center;
    font-size: 50px;
    }
    p{
    font-family:'Cairo', sans-serif;
    font-size:20px; 
    text-align: center;  
    }
    body {
        background:lightskyblue;
    }
    .wallapåjalla{
        font-family: 'Cairo', sans-serif;
        text-align:center;
        font-size: 20px;
        margin: 36.5%;
        margin-bottom:10%;
    }
    a{
        margin-top: 100%;
        font-family:'Cairo', sans-serif;
    }
    .nomp{
        color: orangered;
        font-family:'Cairo', sans-serif;
    }
    .algebramskinen{
        color: silver;
        font-family:'Cairo', sans-serif;
    }
    .matteva{
      color: blue;
      font-family:'Cairo', sans-serif;
    }
.zao{
    display:block;
    font-family:'Cairo', sans-serif;
}
.mattevaalgebra{
    font-family:'Cairo', sans-serif; 
}
.algebra{
    font-family:'Cairo', sans-serif;
    font-size: 30px;
}
.kimsmattematikalgebra{
    font-size: 20px;
}
.elevspelalgebra{
    font-size: 20px;
}
.multiplikation{
    font-size: 40px;
}
.kimsmattemulti{
    font: size 20px; ;
    font-family:'Cairo', sans-serif;
}
.addition{
    font: size 40px;
    font-family: 'Cairo', sans-serif;
    text-align: center;
}
.subtraktion{
    font: size 40px;
    font-family:'Cairo', sans-serif;
    text-align: center;
}
.kimsmattepluss{
 font: size 20px;
 font-family:'Cairo', sans-serif; 
text-align: center;
}

