h1{
    color:white;
    text-align:center;
    }
    p{
    font-family:'Cairo', sans-serif;
    font-size:20px; 
    text-align: center;  
    }
    body {
        background:lightskyblue;
    }
    .wallapåjalla{
        font-family: 'Cairo', sans-serif;
        text-align:center;
        font-size: 20px;
        margin: 36.5%;
        margin-bottom:10%;
    }
    a{
        margin-top: 100%;
        font-family:'Cairo', sans-serif;
    }
    .nomp{
        color: orangered;
        font-family:'Cairo', sans-serif;
    }
    .algebramskinen{
        color: silver;
        font-family:'Cairo', sans-serif;
    }
    .matteva{
      color: blue;
      font-family:'Cairo', sans-serif;
    }
.zao{
    display:block;
    font-family:'Cairo', sans-serif;
}