h1{
    color:white;
    text-align:center;
    }
    p{
    font-family:verdana;
    font-size:20px; 
    text-align: center;  
    }
    body {
        background: rgb(59, 146, 59);
    }
    .wallapåjalla{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align:center;
        font-size: 20px;
        margin: 36.5%;
        margin-bottom:10%;
    }
    a{
        margin-top: 100%;
    }
    .nomp{
        color: orangered;
    }
    .algebramskinen{
        color: silver;
    }
    .matteva{
      color: blue;  
    }
.zao{
    display:block;
}